@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,500,600,700&display=swap);





.btn {
  border-width: 2px;
}
body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.72rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.38rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #087107 !important;
}
.bg-success {
  background-color: #319b8b !important;
}
.bg-info {
  background-color: #235bc1 !important;
}
.bg-warning {
  background-color: #ffe500 !important;
}
.bg-danger {
  background-color: #87147b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #087107 !important;
  border-color: #087107 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #021f02 !important;
  border-color: #021f02 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #021f02 !important;
  border-color: #021f02 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a80000 !important;
  border-color: #a80000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a80000 !important;
  border-color: #a80000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #235bc1 !important;
  border-color: #235bc1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #163878 !important;
  border-color: #163878 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #163878 !important;
  border-color: #163878 !important;
}
.btn-success,
.btn-success:active {
  background-color: #319b8b !important;
  border-color: #319b8b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #1c5950 !important;
  border-color: #1c5950 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1c5950 !important;
  border-color: #1c5950 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe500 !important;
  border-color: #ffe500 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a89700 !important;
  border-color: #a89700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #a89700 !important;
  border-color: #a89700 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #87147b !important;
  border-color: #87147b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #3b0936 !important;
  border-color: #3b0936 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #3b0936 !important;
  border-color: #3b0936 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #087107;
  color: #087107;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #021f02 !important;
  background-color: transparent!important;
  border-color: #021f02 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #087107 !important;
  border-color: #087107 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff0000;
  color: #ff0000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a80000 !important;
  background-color: transparent!important;
  border-color: #a80000 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #235bc1;
  color: #235bc1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #163878 !important;
  background-color: transparent!important;
  border-color: #163878 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #235bc1 !important;
  border-color: #235bc1 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #319b8b;
  color: #319b8b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1c5950 !important;
  background-color: transparent!important;
  border-color: #1c5950 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #319b8b !important;
  border-color: #319b8b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe500;
  color: #ffe500;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a89700 !important;
  background-color: transparent!important;
  border-color: #a89700 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #ffe500 !important;
  border-color: #ffe500 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #87147b;
  color: #87147b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #3b0936 !important;
  background-color: transparent!important;
  border-color: #3b0936 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #87147b !important;
  border-color: #87147b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #087107 !important;
}
.text-secondary {
  color: #ff0000 !important;
}
.text-success {
  color: #319b8b !important;
}
.text-info {
  color: #235bc1 !important;
}
.text-warning {
  color: #ffe500 !important;
}
.text-danger {
  color: #87147b !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #011101 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #990000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #184d46 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #13326b !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #998900 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #2e072a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #087107;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #235bc1;
}
.alert-warning {
  background-color: #ffe500;
}
.alert-danger {
  background-color: #87147b;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #087107;
  border-color: #087107;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #087107;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #11e90e;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #77d4c6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #7ca2e7;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffacc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e239d0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #087107 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #087107;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #087107;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #087107;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #087107;
  border-bottom-color: #087107;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #087107 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff0000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23087107' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sgBJQuGEAs {
  z-index: 1000;
  width: 100%;
}
.cid-sgBJQuGEAs nav.navbar {
  position: fixed;
}
.cid-sgBJQuGEAs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sgBJQuGEAs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sgBJQuGEAs .dropdown-item:hover,
.cid-sgBJQuGEAs .dropdown-item:focus {
  background: #087107 !important;
  color: white !important;
}
.cid-sgBJQuGEAs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sgBJQuGEAs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sgBJQuGEAs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sgBJQuGEAs .nav-link {
  position: relative;
}
.cid-sgBJQuGEAs .container {
  display: flex;
  margin: auto;
}
.cid-sgBJQuGEAs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sgBJQuGEAs .dropdown-menu,
.cid-sgBJQuGEAs .navbar.opened {
  background: #ffb5b5 !important;
}
.cid-sgBJQuGEAs .nav-item:focus,
.cid-sgBJQuGEAs .nav-link:focus {
  outline: none;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sgBJQuGEAs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sgBJQuGEAs .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 181, 181, 0);
}
.cid-sgBJQuGEAs .navbar.opened {
  transition: all 0.3s;
}
.cid-sgBJQuGEAs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sgBJQuGEAs .navbar .navbar-logo img {
  width: auto;
}
.cid-sgBJQuGEAs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sgBJQuGEAs .navbar.collapsed {
  justify-content: center;
}
.cid-sgBJQuGEAs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sgBJQuGEAs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sgBJQuGEAs .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sgBJQuGEAs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sgBJQuGEAs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sgBJQuGEAs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sgBJQuGEAs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sgBJQuGEAs .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sgBJQuGEAs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sgBJQuGEAs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sgBJQuGEAs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sgBJQuGEAs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sgBJQuGEAs .navbar.navbar-short {
  min-height: 60px;
}
.cid-sgBJQuGEAs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sgBJQuGEAs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sgBJQuGEAs .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sgBJQuGEAs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sgBJQuGEAs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sgBJQuGEAs .dropdown-item.active,
.cid-sgBJQuGEAs .dropdown-item:active {
  background-color: transparent;
}
.cid-sgBJQuGEAs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sgBJQuGEAs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffb5b5;
}
.cid-sgBJQuGEAs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sgBJQuGEAs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sgBJQuGEAs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sgBJQuGEAs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sgBJQuGEAs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sgBJQuGEAs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sgBJQuGEAs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sgBJQuGEAs .navbar {
    height: 70px;
  }
  .cid-sgBJQuGEAs .navbar.opened {
    height: auto;
  }
  .cid-sgBJQuGEAs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sgBJROLaVP {
  background-image: url("../../../assets/images/66-2000x1189.jpg");
}
.cid-sgBJROLaVP .mbr-text,
.cid-sgBJROLaVP .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-sgBJROLaVP .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-sgIVbcrzvq {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/mbr-1-1920x1314.jpg");
}
@media (min-width: 1500px) {
  .cid-sgIVbcrzvq .container {
    max-width: 1400px;
  }
}
.cid-sgIVbcrzvq .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #4479d9;
  margin-bottom: 2rem;
}
.cid-sgIVbcrzvq .card-wrapper {
  margin-top: 3rem;
}
.cid-sgIVbcrzvq .row {
  justify-content: center;
}
.cid-sgIVbcrzvq .card-title,
.cid-sgIVbcrzvq .iconfont-wrapper {
  color: #2b69d9;
}
.cid-sgOHeYEOkw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1920x1277.jpg");
}
.cid-sgOHeYEOkw .card-wrapper {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-sgOHeYEOkw .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sgOHeYEOkw .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgOHeYEOkw .card-wrapper {
    padding: 4rem;
  }
}
.cid-sgIV6v2p3H {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1-1315x1920.png");
}
.cid-sgIV6v2p3H .number-wrap {
  color: #ffffff;
  text-align: center;
}
.cid-sgIV6v2p3H .number {
  color: #ffffff;
}
.cid-sgIV6v2p3H .period {
  display: block;
}
.cid-sgIV6v2p3H .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-sgIV6v2p3H .period {
    font-size: 0.8rem;
  }
}
.cid-sgIV6v2p3H .btn {
  height: 100%;
  margin: 0;
}
.cid-sgIV6v2p3H .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-sgIV6v2p3H .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-sgIV6v2p3H .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #fafafa;
  border: 2px solid #fafafa;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sgIV6v2p3H .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-sgIV6v2p3H .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #fafafa;
  color: #000000;
}
.cid-sgIV6v2p3H H3 {
  color: #ffffff;
}
.cid-sgIV6v2p3H .mbr-text,
.cid-sgIV6v2p3H .mbr-section-btn {
  color: #ffffff;
}
.cid-sgIV6v2p3H .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sgBZLcvJJ9 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1-1272x1920.jpeg");
}
.cid-sgBZLcvJJ9 .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cid-sgBZLcvJJ9 .item .icon-wrap {
  text-align: center;
}
.cid-sgBZLcvJJ9 .item span {
  font-size: 2rem;
  color: #ffffff;
  line-height: 60px;
}
.cid-sgBZLcvJJ9 .item::before {
  content: "\e96b";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: -15px;
  top: 12%;
  color: #6592e6;
}
.cid-sgBZLcvJJ9 .item.first:before {
  display: none;
}
.cid-sgBZLcvJJ9 .item.five:before {
  display: none;
}
.cid-sgBZLcvJJ9 .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.cid-sgBZLcvJJ9 .text-box {
  margin-top: 1rem;
  text-align: center;
}
.cid-sgBZLcvJJ9 .mbr-iconfont {
  color: #087107 !important;
  position: absolute;
  top: 50%;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-sgBZLcvJJ9 .item:before {
    display: none;
  }
  .cid-sgBZLcvJJ9 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sgJ0Od7fhA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sgDboRTQuJ {
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-sgDboRTQuJ .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-sgDboRTQuJ .mbr-text,
.cid-sgDboRTQuJ .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-sgBJQuGEAs {
  z-index: 1000;
  width: 100%;
}
.cid-sgBJQuGEAs nav.navbar {
  position: fixed;
}
.cid-sgBJQuGEAs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sgBJQuGEAs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sgBJQuGEAs .dropdown-item:hover,
.cid-sgBJQuGEAs .dropdown-item:focus {
  background: #087107 !important;
  color: white !important;
}
.cid-sgBJQuGEAs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sgBJQuGEAs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sgBJQuGEAs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sgBJQuGEAs .nav-link {
  position: relative;
}
.cid-sgBJQuGEAs .container {
  display: flex;
  margin: auto;
}
.cid-sgBJQuGEAs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sgBJQuGEAs .dropdown-menu,
.cid-sgBJQuGEAs .navbar.opened {
  background: #ffb5b5 !important;
}
.cid-sgBJQuGEAs .nav-item:focus,
.cid-sgBJQuGEAs .nav-link:focus {
  outline: none;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sgBJQuGEAs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sgBJQuGEAs .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 181, 181, 0);
}
.cid-sgBJQuGEAs .navbar.opened {
  transition: all 0.3s;
}
.cid-sgBJQuGEAs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sgBJQuGEAs .navbar .navbar-logo img {
  width: auto;
}
.cid-sgBJQuGEAs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sgBJQuGEAs .navbar.collapsed {
  justify-content: center;
}
.cid-sgBJQuGEAs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sgBJQuGEAs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sgBJQuGEAs .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sgBJQuGEAs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sgBJQuGEAs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sgBJQuGEAs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sgBJQuGEAs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sgBJQuGEAs .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sgBJQuGEAs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sgBJQuGEAs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sgBJQuGEAs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sgBJQuGEAs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sgBJQuGEAs .navbar.navbar-short {
  min-height: 60px;
}
.cid-sgBJQuGEAs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sgBJQuGEAs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sgBJQuGEAs .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sgBJQuGEAs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sgBJQuGEAs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sgBJQuGEAs .dropdown-item.active,
.cid-sgBJQuGEAs .dropdown-item:active {
  background-color: transparent;
}
.cid-sgBJQuGEAs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sgBJQuGEAs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffb5b5;
}
.cid-sgBJQuGEAs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sgBJQuGEAs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sgBJQuGEAs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sgBJQuGEAs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sgBJQuGEAs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sgBJQuGEAs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sgBJQuGEAs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sgBJQuGEAs .navbar {
    height: 70px;
  }
  .cid-sgBJQuGEAs .navbar.opened {
    height: auto;
  }
  .cid-sgBJQuGEAs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sgD0kp9pKo {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1920x1440.jpg");
}
.cid-sgD0kp9pKo img,
.cid-sgD0kp9pKo .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-sgD0kp9pKo .item:focus,
.cid-sgD0kp9pKo span:focus {
  outline: none;
}
.cid-sgD0kp9pKo .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sgD0kp9pKo .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sgD0kp9pKo .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sgD0kp9pKo .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sgD0kp9pKo .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sgD0kp9pKo .mbr-section-title {
  color: #ffffff;
}
.cid-sgD0kp9pKo .mbr-text,
.cid-sgD0kp9pKo .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-sgD0kp9pKo .item-title {
  text-align: center;
}
.cid-sgD0kp9pKo .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-sgD8OYobid {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1440x1920.jpg");
}
.cid-sgD8OYobid .card-wrapper {
  background: #087107;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-sgD8OYobid .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sgD8OYobid .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgD8OYobid .card-wrapper {
    padding: 4rem;
  }
}
.cid-sgD8OYobid .mbr-text,
.cid-sgD8OYobid .mbr-section-btn {
  color: #ffffff;
}
.cid-sgD8OYobid .card-title,
.cid-sgD8OYobid .card-box {
  text-align: center;
}
.cid-sgDmGZUuob {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/mbr-8-1920x1280.jpg");
}
.cid-sgDmGZUuob .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-sgDmGZUuob .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgDmGZUuob .img1 {
  background: #1ced19;
}
.cid-sgDmGZUuob .img2 {
  background: #1ced19;
}
.cid-sgDmGZUuob .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sgDmGZUuob .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sgDmGZUuob .card-wrapper {
  background: #fafafa;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sgDmGZUuob .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgDmGZUuob .card-wrapper {
    flex-direction: column;
  }
  .cid-sgDmGZUuob .card-box {
    padding: 1rem;
  }
  .cid-sgDmGZUuob .card-box,
  .cid-sgDmGZUuob .img-wrapper {
    width: 100%;
  }
  .cid-sgDmGZUuob .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sgDmGZUuob .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sgDmGZUuob .card-subtitle {
  color: #0077ff;
}
.cid-sgDmGZUuob .mbr-text,
.cid-sgDmGZUuob .link-wrap {
  color: #555555;
}
.cid-sgJjcNJQQs {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-1-1920x1277.jpg");
}
.cid-sgJjcNJQQs .item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
}
.cid-sgJjcNJQQs .icon-box {
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.cid-sgJjcNJQQs .text-box {
  text-align: center;
}
.cid-sgJjcNJQQs span {
  font-size: 1rem;
  color: #6592e6;
  font-weight: bold;
  display: block;
}
@media (max-width: 991px) {
  .cid-sgJjcNJQQs .card {
    margin-bottom: 2rem;
  }
  .cid-sgJjcNJQQs .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sgJjcNJQQs span {
    font-size: 21vw;
  }
}
.cid-sgJjcNJQQs .icon-text,
.cid-sgJjcNJQQs .mbr-section-btn {
  text-align: left;
  color: #fafafa;
}
.cid-sgJjcNJQQs .icon-title,
.cid-sgJjcNJQQs .mbr-section-btn,
.cid-sgJjcNJQQs .item .icon-box .step-number {
  text-align: center;
  color: #a5ff00;
}
.cid-sgJjcNJQQs .icon-text,
.cid-sgJjcNJQQs .mbr-section-btn DIV {
  text-align: center;
}
.cid-sgNlMvekcD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-1-1920x1277.jpg");
}
.cid-sgNlMvekcD .item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
}
.cid-sgNlMvekcD .icon-box {
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.cid-sgNlMvekcD .text-box {
  text-align: center;
}
.cid-sgNlMvekcD span {
  font-size: 1rem;
  color: #6592e6;
  font-weight: bold;
  display: block;
}
@media (max-width: 991px) {
  .cid-sgNlMvekcD .card {
    margin-bottom: 2rem;
  }
  .cid-sgNlMvekcD .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sgNlMvekcD span {
    font-size: 21vw;
  }
}
.cid-sgNlMvekcD .icon-text,
.cid-sgNlMvekcD .mbr-section-btn {
  text-align: left;
  color: #fafafa;
}
.cid-sgNlMvekcD .icon-title,
.cid-sgNlMvekcD .mbr-section-btn,
.cid-sgNlMvekcD .item .icon-box .step-number {
  text-align: center;
  color: #a5ff00;
}
.cid-sgCRqlhw7A {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/mbr-1920x1532.jpg");
}
.cid-sgCRqlhw7A .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #087107;
  margin-bottom: 2rem;
}
.cid-sgCRqlhw7A .card-wrapper {
  padding: 3rem;
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-sgCRqlhw7A .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgCRqlhw7A .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-sgCRqlhw7A .mbr-section-title {
  color: #fff806;
}
.cid-sgJ0Od7fhA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sgDrbT6tOd {
  background-image: url("../../../assets/images/front-view-of-woman-with-shopping-bag-concept-1-2000x826.jpeg");
}
.cid-sgDrbT6tOd .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-sgDrbT6tOd .mbr-text,
.cid-sgDrbT6tOd .mbr-section-btn {
  text-align: left;
  color: #0b225c;
}
.cid-sgDrbT6tOd .mbr-section-subtitle {
  text-align: left;
}
.cid-sgNIF9ueNf {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fafafa;
}
.cid-sgNIF9ueNf .carousel {
  width: 100%;
}
.cid-sgNIF9ueNf .carousel-inner {
  display: flex;
  align-content: center;
  align-items: center;
}
.cid-sgNIF9ueNf .carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.cid-sgNIF9ueNf .mbr-overlay {
  z-index: 1;
}
.cid-sgNIF9ueNf .carousel-caption {
  bottom: 40px;
}
.cid-sgNIF9ueNf .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sgNIF9ueNf .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sgNIF9ueNf .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sgNIF9ueNf .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sgNIF9ueNf .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sgNIF9ueNf .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sgNIF9ueNf .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sgNIF9ueNf .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sgNIF9ueNf .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sgNIF9ueNf .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sgNIF9ueNf .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sgNIF9ueNf .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sgNIF9ueNf .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sgNIF9ueNf .carousel-indicators li.active,
.cid-sgNIF9ueNf .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sgNIF9ueNf .carousel-indicators li::after,
.cid-sgNIF9ueNf .carousel-indicators li::before {
  content: none;
}
.cid-sgNIF9ueNf .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sgNIF9ueNf .carousel-indicators {
    display: none !important;
  }
}
.cid-sgBJQuGEAs {
  z-index: 1000;
  width: 100%;
}
.cid-sgBJQuGEAs nav.navbar {
  position: fixed;
}
.cid-sgBJQuGEAs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sgBJQuGEAs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sgBJQuGEAs .dropdown-item:hover,
.cid-sgBJQuGEAs .dropdown-item:focus {
  background: #087107 !important;
  color: white !important;
}
.cid-sgBJQuGEAs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sgBJQuGEAs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sgBJQuGEAs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sgBJQuGEAs .nav-link {
  position: relative;
}
.cid-sgBJQuGEAs .container {
  display: flex;
  margin: auto;
}
.cid-sgBJQuGEAs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sgBJQuGEAs .dropdown-menu,
.cid-sgBJQuGEAs .navbar.opened {
  background: #ffb5b5 !important;
}
.cid-sgBJQuGEAs .nav-item:focus,
.cid-sgBJQuGEAs .nav-link:focus {
  outline: none;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sgBJQuGEAs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgBJQuGEAs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sgBJQuGEAs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sgBJQuGEAs .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 181, 181, 0);
}
.cid-sgBJQuGEAs .navbar.opened {
  transition: all 0.3s;
}
.cid-sgBJQuGEAs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sgBJQuGEAs .navbar .navbar-logo img {
  width: auto;
}
.cid-sgBJQuGEAs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sgBJQuGEAs .navbar.collapsed {
  justify-content: center;
}
.cid-sgBJQuGEAs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sgBJQuGEAs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sgBJQuGEAs .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sgBJQuGEAs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sgBJQuGEAs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sgBJQuGEAs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sgBJQuGEAs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sgBJQuGEAs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sgBJQuGEAs .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sgBJQuGEAs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sgBJQuGEAs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sgBJQuGEAs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sgBJQuGEAs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sgBJQuGEAs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sgBJQuGEAs .navbar.navbar-short {
  min-height: 60px;
}
.cid-sgBJQuGEAs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sgBJQuGEAs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sgBJQuGEAs .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sgBJQuGEAs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sgBJQuGEAs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sgBJQuGEAs .dropdown-item.active,
.cid-sgBJQuGEAs .dropdown-item:active {
  background-color: transparent;
}
.cid-sgBJQuGEAs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sgBJQuGEAs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sgBJQuGEAs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffb5b5;
}
.cid-sgBJQuGEAs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sgBJQuGEAs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sgBJQuGEAs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sgBJQuGEAs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sgBJQuGEAs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgBJQuGEAs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sgBJQuGEAs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgBJQuGEAs .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sgBJQuGEAs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sgBJQuGEAs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sgBJQuGEAs .navbar {
    height: 70px;
  }
  .cid-sgBJQuGEAs .navbar.opened {
    height: auto;
  }
  .cid-sgBJQuGEAs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sgJ40yr9eD {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-12-1920x1280.jpg");
}
.cid-sgJ40yr9eD .mbr-overlay {
  background: #fafafa;
  opacity: 0;
}
.cid-sgJ40yr9eD img,
.cid-sgJ40yr9eD .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sgJ40yr9eD .item:focus,
.cid-sgJ40yr9eD span:focus {
  outline: none;
}
.cid-sgJ40yr9eD .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sgJ40yr9eD .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sgJ40yr9eD .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sgJ40yr9eD .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sgJ40yr9eD .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sgJ40yr9eD .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sgJ40yr9eD .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sgJ40yr9eD .mbr-section-title {
  color: #ff0000;
}
.cid-sgJ40yr9eD .mbr-text,
.cid-sgJ40yr9eD .mbr-section-btn {
  text-align: left;
}
.cid-sgJ40yr9eD .item-title {
  text-align: left;
}
.cid-sgJ40yr9eD .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-sgJ0Od7fhA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
